* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
background-color: black;
color: #e7e7e7;
min-height: 100vh;
line-height: 1.5;
}



/* CONTAINER */

.container
{
    position: relative;
    z-index: 2;
}

/* Header */

header
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 5rem;
z-index: 999;
}

header h1
{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav 
{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a 
{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover
{
    color: #e7e7e7;

}

.btn-signing 
{
    background-color: #e7e7e7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.btn-signing:hover 
{
    background-color: white;
}

/*Main content */

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content 
{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box
{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f427f, #660c56,#5300a0, #757575, #656565 );
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3)

}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
    
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.tag-box .tag:hover{
    color: #5300a0;
}

.content h1 
{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.description
{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
}

.buttons
{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}
.btn-get-started 
{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;
}

.btn-get-started:hover
{
    background-color: #1a1a1a;
}

.btn-signing-main
{
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;

}

.btn-signing-main:hover
{
    background-color: gray;
}

/* 3D Canvas */
#three-canvas {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;      
    pointer-events: none;
}

.section 
{
    padding: 6rem 10%;
    position: relative;
    z-index: 2;
}

.section h2 
{
font-size: 2.5rem;
margin-bottom: 2rem;
}

.projects-grid
{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 2rem;
}

.project-card 
{
background: rgba(255, 255, 255, 0.5);
border: 1px solid #333;
padding: 2rem;
border-radius: 15px;
backdrop-filter: blur(10px);
transition: 0.3s ease;
transform-style: preserve-3d;
cursor: pointer;
position: relative;
overflow: hidden;
}

/*Glow Effect */

.project-card::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(255,255,255,0.15), transparent 40%);
    opacity: 0;
    transition: opacity 0.3s;

}

.project-card:hover::before {
    opacity: 1;
}


.project-card:hover
{
    transform: translateY(-10px);
    border-color: #888;
}

/* Text depth */
.project-card h3,
.project-card p {
    transform: translateZ(20px);
}

.project-media {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.project-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* smooth cinematic reveal */
.project-card:hover video {
    opacity: 1;
    transform: scale(1);
}

/* overlay */
.project-media::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

/* content above */
.project-content {
    position: relative;
    z-index: 2;
}

